{% extends "base_bootstrap.html" %}
{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <p> Hello World.</p>
    <p>Here are some of the apps that are currently available:</p>
    <ul>
        <li><p><a href="/hello">Session Tester</a></p></li>
        <li><p><a href="/polls">A Polls Application</a></p></li>
        <li><p><a href="/autos">An Automobile Database</a></p></li>
        <li><p><a href="/cats">A Cats Database</a></p></li>
        <li><p><a href="/ads">An Advertisement Page</a></p></li>
    </ul>
    <h2>I Hope You Enjoy What Is Here.</h2>
    <p>Keep Coming Back To Check Out New Apps Regularly.</p>
{% endblock content %}
